[submodule "Sharpnado.Tabs"]
	path = Sharpnado.Tabs
	url = https://github.com/roubachof/Sharpnado.Tabs.git
[submodule "Sharpnado.MaterialFrame"]
	path = Sharpnado.MaterialFrame
	url = https://github.com/roubachof/Sharpnado.MaterialFrame.git
[submodule "Sharpnado.CollectionView"]
	path = Sharpnado.CollectionView
	url = https://github.com/roubachof/Sharpnado.CollectionView.git
